$xs: 5px;
$s: 8px;
$m: 13px;
$l: 21px;
$xl: 34px;
$big: 55px;

$bold: 700;
$light: 200;

$dark: #242121;
$light: #F8F3E3;
$accent: #F8C25C;
$primary: #FF2047;

$grey-300: #E2E8F0;
$grey-500: #A0AEC0;
$grey-800: #4A5568;
$grey-1000: #1A202C;

// $dark-200: adjust-color($dark, $lightness: +20%);

%panned-background {
  border-radius: $xs;
  padding: 0 $m;
  transform: rotate(-1deg);
  * {
    position: relative;
    display: inline-block;
    transform: rotate(1deg);
  }
}

@mixin badge($color) {
  border-radius: $l;
  border: 1px solid $color;
  font-weight: $bold;
  padding: $xs;
  font-size: $m;
  box-shadow: 1px 1px 0 $color;
}
