// spacing
$xs: 5px;
$s: 8px;
$m: 13px;
$l: 21px;
$xl: 34px;
$big: 55px;

//font-weight
$bold: 700;
$light: 200;

//colors
$dark-beige: #F5E4C3;
$beige: #FAF4D0;
$red: #EA4C4C;
$red-100: #EA4C4C1A;
$dark-red: #C14545;
$dark: #0E2431;

$grey-200: #CFD8DC;

// common classes
%badge {
  border-radius: $xs;
  border: 2px solid $dark;
  font-weight: $bold;
  padding: $xs;
  font-size: $m;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 0 $dark;
}

%panned-background {
  border-radius: $xs;
  padding: 0 $m;
  transform: rotate(-1deg);
  * {
    position: relative;
    display: inline-block;
    transform: rotate(1deg);
  }
}
