$xs: 5px;
$s: 8px;
$m: 13px;
$l: 21px;
$xl: 34px;
$big: 55px;

$bold: 700;
$light: 300;

// $dark: #242121;
// $light: #F8F3E3;
$accent: #F8C25C;
// $primary: #FF2047;
$primary: #c70039;

$dark: #1A202C;

$red-200: #FED7D7;
$red-300: #ffb0b0;
$red-800: #C53030;

$grey-300: #f9f9f9;
$grey-500: #A0AEC0;
$grey-800: #4A5568;


$pastel-pink: #f5b5fc;
$pastel-green: #96f7d2;
$pastel-yellow: #f0f696;
$pastel-orange: #fcb1b1;

@mixin small-badge($background, $color) {
  border-radius: $xs;
  background-color: $background;
  color: $color;
  font-family: inconsolata, monospace;
  font-weight: 600;
  font-size: $m;
  display: block;
  padding: 0 $s;
  margin: 0 $s
}

@mixin panned-background($color) {
  background: $color;
  border-radius: $xs;
  // padding: 0 $m;
  transform: rotate(-3deg);
  * {
    position: relative;
    display: inline-block;
    transform: rotate(3deg);
  }
}

@mixin badge($color) {
  color: $dark;
  border-radius: $s;
  border: 1px solid $color;
  background: white;
  font-weight: $bold;
  font-size: $m;
  box-shadow: 1px 1px 0 $color;
}
