$xs: 5px;
$s: 8px;
$m: 13px;
$l: 21px;
$xl: 34px;
$big: 55px;

$bold: 700;
$light: 300;

// $dark: #242121;
// $light: #F8F3E3;
$accent: #F8C25C;
$primary: #FF2047;

$red-200: #FED7D7;
$red-300: #ffb0b0;
$red-800: #C53030;

$grey-300: #f7fafc;
$grey-400: #CBD5E0;
$grey-500: #A0AEC0;
$grey-800: #4A5568;
$dark: #1A202C;

@mixin panned-background($color) {
  background: $color;
  border-radius: $xs;
  // padding: 0 $m;
  transform: rotate(-1deg);
  * {
    position: relative;
    display: inline-block;
    transform: rotate(1deg);
  }
}

@mixin badge($color) {
  color: $color;
  border-radius: $s;
  border: 2px solid $color;
  font-weight: $bold;
  font-size: $m;
  box-shadow: 1px 1px 0 $color;
}
